In [55]:
import pandas as pd
import numpy as np

In [14]:
dataset = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding =('ISO-8859-1'))

In [15]:
dataset.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [16]:
dataset.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [17]:
dataset.shape

(60943, 12)

In [54]:
dataset.groupby(['Item'])[['Y2014', 'Y2017']].sum()

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [59]:
print(dataset['Y2015'].mean())

135.23596649549236

In [60]:
print(dataset['Y2015'].std())

1603.4039839423301

In [61]:
dataset.isnull().sum()/(len(dataset))*100

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

In [62]:
print(dataset[['Element Code','Y2014','Y2015','Y2016','Y2017','Y2018']].corr())

              Element Code     Y2014     Y2015     Y2016     Y2017     Y2018
Element Code      1.000000  0.024457  0.023889  0.023444  0.024254  0.024279
Y2014             0.024457  1.000000  0.994647  0.996081  0.995230  0.994872
Y2015             0.023889  0.994647  1.000000  0.995739  0.988048  0.988208
Y2016             0.023444  0.996081  0.995739  1.000000  0.992785  0.992757
Y2017             0.024254  0.995230  0.988048  0.992785  1.000000  0.998103
Y2018             0.024279  0.994872  0.988208  0.992757  0.998103  1.000000

In [64]:
dataset.groupby(['Element'])[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [68]:
dataset.groupby(['Area'])[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,
Algeria,313375.33,324058.40,326007.41,325644.27,341729.98
Angola,208584.42,209565.67,214725.32,229159.57,235206.68
Benin,118050.79,108181.13,117963.59,124771.22,124960.70
Botswana,22339.92,23024.85,22970.65,22101.30,23129.08
Burkina Faso,105051.33,102701.22,107702.27,101855.07,112970.72
Cabo Verde,14576.94,14538.93,14569.40,14650.74,14622.60
Cameroon,217630.28,225220.72,231714.36,232030.43,233022.93
Central African Republic,28739.02,28885.34,29454.54,29937.00,30101.57
Chad,65940.17,65835.88,72673.76,71594.68,72282.24
Comoros,32.00,41.34,54.91,59.84,59.84
Congo,38699.26,40255.51,40592.66,41181.68,42005.53
Côte d'Ivoire,195982.84,211591.29,211439.20,224599.01,227018.00
Djibouti,21332.28,23690.16,21783.91,22729.91,23718.96
Egypt,849192.30,868218.73,858568.63,866379.92,852652.92
Eswatini,53285.75,54072.07,54025.21,54343.33,55045.07
Ethiopia,415935.50,429139.33,444567.57,448683.76,450788.86
Ethiopia PDR,0.00,0.00,0.00,0.00,0.00
Gabon,28126.31,28367.30,28129.95,27979.64,28339.38
Gambia,19607.87,19665.39,21758.15,23154.18,23513.80
Ghana,308328.59,311092.13,314320.45,337599.06,358915.64
Guinea,91213.40,92803.39,95450.24,98138.87,103262.08
Guinea-Bissau,17708.67,17990.06,18524.83,19102.77,18997.92
Kenya,255211.01,265506.19,260257.56,264660.66,270916.80
Lesotho,19125.89,17965.84,17258.96,21267.96,19109.23
Liberia,27898.35,28698.10,29746.68,29342.20,29629.83
Madagascar,128985.32,126674.90,129010.25,131197.73,134576.44
Malawi,173454.86,167989.09,164970.42,181098.71,187366.09
Mali,123038.75,132456.58,147324.78,149928.33,159026.42
Mauritania,109557.63,61909.99,79872.42,156665.46,157479.95
Mauritius,50898.12,53372.42,49272.41,51114.83,47150.91
Morocco,375977.76,412473.80,367884.18,388495.36,399271.27
Mozambique,160757.87,158231.17,159924.41,161407.98,164934.05
Namibia,32026.42,30687.90,30389.07,29874.89,29350.04
Niger,108236.65,117834.65,123601.88,126707.58,133982.86
Nigeria,1399542.19,1414362.83,1482945.71,1483268.23,1499774.24
Rwanda,70001.38,70138.83,70921.76,73663.69,74839.08
Sao Tome and Principe,12458.64,12386.93,12647.56,12662.63,12806.49
Senegal,78533.93,91939.14,89017.72,95681.15,95493.82
Seychelles,305.20,358.20,416.32,442.34,442.34
Sierra Leone,62570.89,62523.14,52767.72,55311.33,55981.73
South Africa,497289.52,468352.18,462224.16,517590.54,509787.97
Sudan,247577.56,230652.54,253197.29,239931.92,268054.39
Sudan (former),0.00,0.00,0.00,0.00,0.00
Togo,47618.05,47834.59,47930.75,49841.88,54872.00
Tunisia,117029.33,128211.41,123778.86,124167.20,127343.17
Uganda,218142.33,220615.72,202981.34,213950.38,222147.25
United Republic of Tanzania,337430.64,341969.46,333765.86,322616.85,349763.41
Zambia,99318.53,96214.00,97728.69,103223.77,101604.27
Zimbabwe,78366.34,74041.79,75638.88,75919.34,76581.41